<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseUrl" value="https://google.com" />
		<add key="Browser" value="" />
		<add key="ObjectSyncTimeout" value="45"/>
		<add key="PageLoadTimeout" value="120"/>
		<add key="StaleTimeout" value="8"/>
		<add key="InvisibilityTimeout" value="240"/>
	</appSettings>
	<runtime>
		<loadFromRemoteSources enabled="true"/>
	</runtime>
</configuration>